@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to right top,
    #ff007a,
    #e4007c,
    #c8007c,
    #ab0079,
    #8e0074
  );
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}
:root {
  /* background color */
  --bg-white: #fff;
  --bg-black: #2c2c2c;
  --bg-light-pink: #ff007a;
  --bg-light-gray: #f6f9fe;
  /* --bg-gradient: linear-gradient(
    to top,
    #ff007a 0%,
    rgba (142, 0, 116, 1) 100%
  ); */
  --bg-gradient: linear-gradient(
    to right top,
    #ff007a,
    #e4007c,
    #c8007c,
    #ab0079,
    #8e0074
  );
  /* background-image: ; */
  --bg-card-shodow: 0 0.188rem 1.25rem 0px rgba(0, 0, 0, 0.06);
  --bg-card-shodow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --bg-light-gray-1: #eee;
  /* text-white */
  --primary-font: "Poppins", sans-serif;
  --text-white: #fff;
  --text-black: #2c2c2c;
  --text-light-black: #444;
  --text-light-pink: #ff007a;
  --text-light-gray: #7e8085;
}
/* ================= commen css ================ */
body {
  font-family: var(--primary-font);
  font-size: 1rem;
  line-height: 1.75rem;
  background: var(--bg-white);
  color: va(--text-black);
  overflow-x: hidden;
}
h1 {
  color: var(--text-white);
  font-size: 3.563rem;
  letter-spacing: 0.125rem;
  font-weight: 400;
}
h2 {
  color: var(--text-black);
  font-size: 2.875rem;
  line-height: 3.75rem;
  font-weight: 400;
}

h3 {
  font-size: 1.563rem;
  font-weight: 400;
  color: var(--text-black);
  line-height: 2.375rem;
}
h5 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.688rem;
  letter-spacing: 0.063rem;
  text-transform: uppercase;
  color: var(--text-light-pink);
}
section,
.section {
  position: relative;
}
.container {
  width: 100%;
  margin: 0 auto;
}
p {
  margin-bottom: 0;
}
a {
  color: var(--text-light-black);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
a:hover,
a:focus {
  color: var(--text-light-pink);
}
a,
a:hover,
a:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
ol,
ul {
  list-style: none;
}
ol li,
ul li {
  list-style: none;
}
button,
button:focus {
  outline: none;
  box-shadow: none;
}
img {
  height: auto;
  max-width: 100%;
}
.btn {
  font-size: 0.938rem;
  font-weight: 500;
  color: var(--text-white);
  line-height: 1;
  text-align: center;
  padding: 1.125rem 1.875rem;
  border: 0 none;
  border-radius: 0.375rem;
  outline: 0 none;
  position: relative;
  z-index: 1;
}
.btn,
.btn:active,
.btn.sApp-btn::before,
.bg-overlay::after {
  background: var(--bg-gradient);
}
.btn:hover {
  color: var(--text-white);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}
.ptb_100 {
  padding: 100px 0;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 9999;
  -webkit-transition: 3s;
  transition: 3s;
  background: transparent;
}
.navbar .navbar-nav .nav-link {
  text-transform: capitalize;
  padding: 1.875rem 1.25rem;
  transition: 3s;
  color: var(--text-white);
}
.navbar-brand img {
  width: 50%;
}
.navbar-sticky-on .navbar-nav .nav-link:hover,
.navbar-sticky-on .navbar-nav .nav-link:active {
  color: var(--bg-light-pink) !important;
}
.navbar-sticky-on .navbar-nav .nav-link {
  color: var(--text-light-gray);
}
.navbar .navbar-brand-sticky {
  display: none;
}
.navbar-sticky-on .navbar-brand-regular {
  display: none;
}
.navbar-sticky-on .navbar-brand-sticky {
  display: inline;
}
.navbar-sticky {
  transition: none;
  -webkit-transition: none;
}
.navbar-sticky-transition {
  -webkit-transition: 3s;
  transition: 3s;
}
.navbar-sticky-move-up {
  position: fixed;
  top: 0;
  background: var(--bg-white);
  margin-top: -6.25rem;
}
.navbar-sticky-on {
  margin-top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}

/* home */
#home {
  min-width: 800px;
  height: 100%;
  background: rgba(0, 0, 0, 0) url(../images/bg-2.jpg) no-repeat scroll left
    center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 107px 0;
}

#home .home_text h2 {
  font-size: 3.938rem;
  font-weight: 700;
  line-height: 4.938rem;
  color: var(--text-white);
  padding: 1.063rem 0;
}

#home .home_text p {
  font-size: 1rem;
  color: var(--text-white);
  padding: 1.063rem 0;
}
#home .home-download-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#home .home-download-btn .btn {
  padding: 1.5rem 3rem;
  margin-left: 1.5rem;
  color: var(--text-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .home-download-btn .btn:first-child {
  margin-left: 0;
}
#home .home-download-btn .btn:hover {
  transform: translateY(-0.313rem);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#home .home-download-btn i {
  font-size: 1.688rem;
  margin-right: 0.625rem;
}
.container .navbar-brand .width {
  width: 24%;
}
.home-img {
  text-align: right;
  transform: rotate(-345deg);
}

.home-img img {
  animation: float 3s linear infinite;
  width: 80%;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-3.5rem);
  }
}

@media (max-width: 991px) {
  h1,
  h2 {
    font-size: 2.5rem;
  }
  .ipad_px_30 {
    padding: 0 1.87rem;
  }
  /* header */
  .navbar {
    padding-top: 0.625rem;
    padding-bottom: 0.75rem;
  }
  .navbar-brand {
    width: 50%;
  }
  header .navbar .container .navbar-brand img {
    width: 24%;
  }
  .navbar-toggler {
    padding-right: 0;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-toggler-icon {
    color: var(--text-white);
    width: 1em;
    height: 1em;
  }
  .navbar-sticky-on .navbar-toggler-icon {
    color: var(--text-black);
  }
  .navbar .navbar-nav {
    background: var(--bg-white);
    border-radius: 0.188rem;
    text-align: center;
  }
  .navbar .navbar-nav .nav-link {
    padding: 0.625rem 1.5rem;
    color: var(--text-light-gray);
  }
  /* home css */
  #home {
    padding-top: 7rem;
  }
  #home .row {
    flex-direction: column-reverse;
  }
  #home .home-text {
    text-align: center;
    margin-bottom: 2rem;
  }
  #home .home-download-btn {
    justify-content: center;
  }
  .home-img {
    text-align: center;
  }
  .home-img img {
    width: 60%;
  }
}
@media (max-width: 767px) {
  /* commen css */
  .mobil_px-20 {
    padding: 0 1.25rem;
  }
  /* home css */
  #home {
    padding-top: 5rem;
    min-width: 365px;
  }
  #home .home_text h2 {
    text-align: center;
    font-size: 2.438rem;
    line-height: 3.938rem;
  }
  #home .home_text p {
    text-align: center;
  }
  #home .home-download-btn .btn {
    margin: 0;
  }
  .home-img img {
    width: 80%;
  }

  .home-img {
    text-align: center;
    transform: rotate(0);
  }
  /* feature css */
  .mobil_px-20 {
    padding: 0 1.25rem;
  }
  .margin_top_up {
    margin-top: 0;
  }
}
/* ====================== counter_area =================== */
.counter_area {
  padding: 6.875rem 0 1.875rem;
}
.siger_counter {
}
